body {
      font-family:arial, sans-serif;
      background-color: #282c34;
    color: #f0f0f0
    display: flex;
    justify-content:center;
    align-items:center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box; /* inclui padding e borda no tamanho total */
}
.container {
  background-color: #3a3f47;
  padding: 30px 40px;
border-radius: 10px;
box-shadow: 0 4px 15px rgba (0,0,0,0.5);
text-align: center;
max-width: 500px;
width: 100%;
}
h1 {
     color:#f3a734
     margin-bottom: 20px;
     font-size: 2.2em
}
p {
     margin-bottom: 10px;
     line-height: 1.5 ;
}

 .imput-area {
         margin: 30px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;

 }
 
 input[type="numbe"] {
     padding: 12px 15px;
     border: 2px solid #f3a734;
     border-radius: 5px; 
     font-size: 1.1em;
     width: 150px;
     text-align: #282c34;
     background-color: #282c34;
     color: #f0f0f0;
     outline:none;
 }
 
input[type="number"];focus {
     border-color:#fdc878;
}                          
  button{
    background-color: #fdc878;
    color: #282c34
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition:background-color 0.3x ease; /*Animação suave ao passar o mouse*/
  }                                                                   
  button:houver{
    background-color: #fdc878;
  }        

  .resultado-area p{
    font-size: 1.05em;
    margin-top: 15px;
    padding: 5px;
    border-radius 3px;
  }

.mensagem {
    font-weight: bold;
    color:#f0f0f0
}

.palpites-anteriores {
    font-size: 0.9em;
    color:#fdc878;
}

.dica{
    font-style:italic;
    color:#fdc878
}

.hidden: {
    display: none; /*Classe para esconder elementos */
}

@keyframes flashgreem {
     0% {background-color: transparent }
    50% {background-color; rgba{76,175, 80, 0,3} }
    100% (background-color; transparent)
}

@keyframes flamesred {
    0% {background-color: transparent}
    50% {background-color: rgba{244, 67, 54, 0,3}}
    100% {background-color: transparent}
}

.flash-green {
    animation: flashGreen 0.5s ease-in-out;
}
.flash-red {
    animation: flashred 0.5s ease-in-out;
}

   


